.login {
  max-width: 720px;
  min-height: 85vh;
}
.login h2 {
  margin: 0;
}

.login .login-form-container {
  margin-top: 20vh;
}

.login .login-form-container .login-form div {
  margin: 10px 0;
}
.login .login-form-container .login-form div label {
  width: 90px !important;
  display: inline-block;
}
.disabled {
  background-color: gray !important;
  cursor: not-allowed !important;
}
.hidden {
  display: none;
}
/* Media query for phones (up to 767px wide) */
@media (max-width: 767px) {
  .login {
    width: 90vw;
  }
  .login .login-form-container {
    margin-top: 10vh;
  }
}
