.goal-container {
  background-color: #d5ebd5;
  padding: 10px;
  border-radius: 10px;
}
.strategy-page .bottom-buttons {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .strategy-page {
    width: 93vw;
  }
}
