.app {
  max-width: 650px;
  min-height: 100vh;
  /* background-color: aliceblue; */
}
.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #0a0d13;
  color: white;
  font-family: "Kanit", sans-serif;
  letter-spacing: 2px;
}
.planner .input {
  background: none;
  border-style: none;
}

.planner textarea {
  background-color: transparent;
  border: none;
  /* color: white; */
  width: 90%;
  line-height: 130%;
  overflow: hidden;
  /* resize: none; */
  outline: none;
}
.planner textarea:active {
  border: none;
}
p {
  width: 100%;
  line-height: 190%;
  font-size: 1.1rem;
}
h3 {
  font-size: 1.3rem;
}
li {
  font-size: 1rem;
  line-height: 190%;
}
hr {
  margin-top: 20px;
}
button {
  cursor: pointer;
}
footer p {
  text-align: center;
}
.long-button {
  width: auto !important;
}
.green {
  color: rgb(17, 139, 17);
}
/* .home {
  position: absolute;
  top: 0;
  left: 0;
} */
bold {
  font-weight: bold;
}

.display {
  display: inline-block !important;
}
@media (max-width: 767px) {
  .app {
    padding: 10px 20px;
  }
}
