.ad-container {
  width: 100%;
  color: white;
}
.ad-container .ad {
  background-color: #121212;
  padding: 10px;
  border-radius: 4px;
}
.ad p {
  margin-top: 0;
}
.wide-ad {
  width: 200px;
}
.wide-ad-cont {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.ad img {
  width: 160px;
  display: inline-block;
}
