.add-goal .goals .goal {
  background-color: #d5ebd5;
  color: #356952;
  padding: 10px;
  margin: 2px 10px;
  border-radius: 5px;
  width: 100%;
  flex-grow: 1;
}
.add-goal .goals {
  min-height: 100px;
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
}
.new-goal .cont {
  display: flex;
  flex-wrap: wrap;
}
.new-goal .cont label {
  width: 100%;
}
.new-goal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.add-goal .buttons {
  display: flex;
  justify-content: space-between;
}
