.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative; /* Add relative positioning */
  width: 100vw;
  height: 100vh;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; /* Set width to 50% */
  height: 100vh;
  background-color: #607e90;
  z-index: 1; /* Push it behind other content */
}

.hero .logo {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 100px;
  z-index: 2; /* Ensure it's above the background */
}

.hero a {
  z-index: 2;
}

.hero .hero-img {
  max-width: 560px;
  z-index: 2;
}

.hero .header {
  max-width: 370px;
  z-index: 2;
  position: relative;
}

.hero .download {
  max-width: 200px;
  z-index: 2;
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  .hero .hero-img {
    width: 70%;
  }
  .hero {
    height: 80%;
    padding-top: 0;
    justify-content: center;
  }
}
