.aside {
  width: 33%;
}
.weekly-goals-list .analytics p {
  margin: 0;
  width: auto;
}
.weekly-goals-list .analytics {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.weekly-goals-list ul {
  list-style: circle !important;
}
