.slide {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
}
.slide img {
  height: 70vh;
}
.slide svg {
  position: absolute;
  background-color: none !important;
  cursor: pointer;
  font-size: larger;
}
.slide .pre {
  left: 100px;
  top: 48%;
}
.slide .next {
  right: 100px;
  top: 48%;
}
