.question {
  display: none;
}
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 100%;
  font-size: 1.1rem;
  color: inherit;
}
button {
  background-color: rgb(184, 206, 199);
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 140px;
}
.button {
  background-color: rgb(184, 206, 199);
  border: none;
  padding: 8px;
  border-radius: 4px;
  width: 140px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
  margin: 0 5px;
}
.answer-p {
  border: 1px solid rgb(3, 71, 68);
  border-radius: 5px;
  padding: 10px;
}
.flex {
  display: flex;
}
.question-navigator {
  width: 100%;
  text-align: center;
}
.question-navigator button {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  margin: 10px;
}
#text-goals {
  margin-top: 20px;
}

.question-navigator .active-q {
  background-color: aquamarine;
}
