.coming-soon-page {
  display: flex;
  justify-content: center;
}
.coming-soon {
  width: 40%;
}
.coming-soon .twitter a {
  color: white;
  text-decoration: none;
}

@media (max-width: 767px) {
  .coming-soon {
    width: 90vw;
  }
}
