.home-page .second {
  margin-top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-page .second h2 {
  text-decoration: underline #607e90;
}
.home-page .second img {
  width: 70vw;
  max-width: 700px;
}

.text {
  margin: 30px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  text-align: center;
}
.text ul {
  text-align: left;
  max-width: 600px;
  list-style: circle;
}
