.price {
  display: flex;
  justify-content: space-around;
}
.price-page h1 {
  font-size: 1.5rem;
  text-align: center;
}
.price p {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.price-page ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: circle;
}
.price-page ul li {
  width: 201px;
}

.price div {
  display: flex;
  flex-direction: column;
}
.price span {
  text-align: center;
}
.price button {
  text-decoration: none;
  color: #121212;
  font-weight: bold;
  background-color: #9ec1a1;
  padding: 10px;
  margin-top: 10px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  border-style: none;
}

.price a:hover {
  background: #7f9b81;
}
.price-page .life-time {
  color: rgb(156, 223, 156);
}
.price-page .confirmation {
  position: absolute;
  top: 10vh;
  background-color: #3b3b41;
  left: 25%;
  width: 50%;
  max-width: 700px;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .confirmation {
    left: 20px !important ;
    width: 95% !important;
    font-size: smaller !important ;
  }
}
.price-page .confirmation .cont {
  display: flex;
}
.cont div {
  flex-grow: 1;
  text-align: center;
}
.cont div a {
  color: inherit;
  text-decoration: none;
}
.confirmation .close {
}
