.weekly-planner label,
span {
  font-weight: 500;
}
.weekly-planner h4 {
  background-color: rgb(124, 124, 124);
  width: auto !important;
  display: inline-block;
  margin: 10px 0;
  padding: 1px 3px;
  border-radius: 2px;
}
.planner .save {
  background: rgb(16, 66, 95);
  border-style: none;
  padding: 5px 15px;
  border-radius: 5px;
}
.planner .save:hover {
  background-color: rgb(14, 54, 77);
}
.weekly-planner .header {
  text-align: center;
  margin-top: 20px;
}
.weekly-planner .obstacles {
  display: inline;
}
.weekly-planner .obstacles label {
  font-size: 0.8rem;
  margin-right: 20px;

  display: block;
}
.weekly-planner .obstacles span {
  font-size: 0.7rem;
}

.weekly-planner .main {
  display: flex;
}
.weekly-planner .goals-cont {
  width: 33%;
}
.weekly-planner .projects {
  width: 33%;
}
.weekly-planner {
  padding: 0 10px 0 30px;
  width: 100vw;
}
.input:focus {
  outline: none;
  color: white; /* Removes the default border */
}
.weekly-planner .add-goal {
  display: none;
}
.weekly-planner form {
  display: flex;
}
.weekly-planner .add {
  width: 30px;
  height: 30px;
  opacity: 20%;
}
.weekly-planner .add:hover {
  opacity: 100%;
  transition: ease-in;
}
.weekly-planner ul {
  list-style: none;
  padding: 0;
}
.weekly-planner ul li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  line-height: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
  list-style: circle !important;
}

.weekly-planner li:before {
  content: "•"; /* Unicode character for dot */
  color: #ffffff; /* Change color if needed */
  display: inline-block;
  width: 10px;
}
.weekly-planner li span {
  margin: 0 3px;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.weekly-planner .remove-goal {
  cursor: pointer;
}
.theme-button:hover {
  cursor: pointer;
  scale: 1.1;
}

.planner .bottom-nav {
  display: flex;

  width: 96%;
  margin: 10px 2%;
  justify-content: space-between;
}
.planner .bottom-nav div {
  display: flex;
  align-items: center;
}
.planner .bottom-nav a {
  text-decoration: none;
  margin: 0 3px;
}
